/*there is -webkit- and other prefixes infront of some css properties, and those are for optimizing those properties for certain browsers*/
/*-------------------------------------------------------*/
/*Colors*/
/*-------------------------------------------------------*/

/*Base Orange Color: #e67e22*/
/*Two shades darker orange: #cf6d17*/


/*-------------------------------------------------------*/
/*BASIC SETUP*/
/*-------------------------------------------------------*/

/*the basic design of the entire view/page*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body{
    background-color: #fff;
    color: #505050;
    /*use lato, if not available, use Arial and if those two are not available use sans-serif*/
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    /*choose from one of the options in the link tag for the font in the html file*/
    font-weight: 300;
    /*will make the fonts render perfectly*/
    text-rendering: optimizeLegibility;
    /*prevents the scrollbar in the x-axis from showing up*/
    overflow-x: hidden;
}

/*whenever you define some floats, you have to later clear them: ALWAYS (((((((CLEARFIX)))))))*/
/*this is added to the UL tag because the li children elements have the float property that needs to be cleared*/
.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*-------------------------------------------------------*/
/*ANIMATIONS*/
/*-------------------------------------------------------*/

.js--wp-1,
.js--wp-2,
.js--wp-3 {
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-4 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-1.animate__animated,
.js--wp-2.animate__animated,
.js--wp-3.animate__animated{
    opacity: 1;
}

/*-------------------------------------------------------*/
/*REUSABLE COMPONENTS*/
/*-------------------------------------------------------*/

/*since the content will be in rows, the rows are defined*/
.row {
    /*since we are using the responsive design, this will be the only value in pixels*/
    max-width: 1140px;
    /*center the rows: vertical horizontal*/
    margin: 0 auto;
}

/*designing the sections of the webpage*/
section {
    /*pading vertical is 80 pixels, and padding horizontal is 0 pixels*/
    padding: 80px 0;
}

/*designing the box which holds the information paragraphs and their correpsonding headers*/
.box {
    padding: 1%;
}

/*----------HEADINGS----------*/

/*these are the properties that the different headers have in commons*/
h1,
h2,
h3{
    /*change the font weight from the default one we defined at the beginning of this file. Since the header is already has excess weight, 300 will make it much thinner*/
    font-weight: 300;
    /*make the text all capitals*/
    text-transform: uppercase;
    
}

/*these are the design properties that are unique to each individual header type*/
h1 {
    margin-top: 0;
    margin-bottom: 20px;
    /*set the color of the text*/
    color: #fff;
    /*this means the text will be 200 percent larger than the default text size which was defined in the html tag in this css file (the second tag in this file)*/
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    /*180% the size of the default size we defined in the basic setup section of this css file*/
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

/*some content that will appear after the h2 header element*/
/*this will be a horizontal seperator line*/
h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    /*when defining an after sudo class, we must define the content, but in this case we don't want any so we put empty quotations*/
    content: "";
    width: 100px;
    /*margin vertical is 0, and margin horizontal is auto making it center the line*/
    margin: 0 auto;
    margin-top: 30px;
}

/*----------PARAGRAPHS----------*/

/*designing the subtitle to the section header*/
.long-copy {
    line-height: 145%;
    width: 70%;
    /*we use 15% because 70% of the width is taken by the content, so 15% from both the left and right make 30% and 70% + 30% = 100%*/
    margin-left: 15%;
}

/*designing all the paragraphs that are within the div with the box class*/
.box p {
    font-size: 90%;
    line-height: 145%;
}

/*----------ICONS----------*/

/*desiging the big icons*/
.icon-big {
    /*these icons are technically fonts, and have to be treated the same way*/
    font-size: 350%;
    /*display block will force a line break after the element*/
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

/*designing the small icons*/
.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    
    /*secrets to align text icons and text*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}


/*----------LINKS----------*/

a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

/*----------BUTTONS----------*/

/*design for a button in general*/
/*the colon followed by the word link, and visited makes sure that the text of the link remains the same even after it has been clicked, and normally*/
.btn:link,
.btn:visited,
input[type=submit]{
    /*makes elements in the same row*/
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    /*remove the auto underline that comes with links*/
    text-decoration: none;
    /*making the button round*/
    border-radius: 200px;
    color: #fff;
    /*to add a transition, a transition property is added. This is for changin between states of the button*/
    /*when changing from regular to hovered state, the button background, border and text color will change over a period of 0.2 seconds instead of instantaneously*/
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

/*designing specifically the full button*/
.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #e67e22;
    /*same border as the ghost button was added so the sizes of the two buttons would be the same*/
    border: 1px solid #e67e22;
    /*margin to seperate the buttons*/
    margin-right: 15px;
}

/*designing specifically the ghost button*/
.btn-ghost:link,
.btn-ghost:visited{
    /*changing the border color: border thickness, style, color*/
    border: 1px solid #e67e22;
    color: #e67e22;
}

/*for specifying what will happen when the mouse is hovered over the button*/
.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #cf6d17;
    color: #fff;
}

/*designing specifically the full button when it is being hovered over or activated*/
.btn-full:link,
.btn-full:visited{
    /*change the color of the border to match the background color*/
    border: 1px solid #cf6d17;
}
/*-------------------------------------------------------*/
/*HEADER*/
/*-------------------------------------------------------*/

/*header styling*/
header {
    /*for setting the background image. The linear gradient is used to overlay some color or gradient on another image.
    The rgba has opacity which is needed to see the image underneath*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(img/hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    /*defining how much of the image we want to see*/
    background-size: cover;
    /*for positioning the background*/
    background-position: center;
    /*this notation means that the height is 100 percent of the view port*/
    height: 100vh;
    /*makes the images stay in the same place relative to the webpage when scrolling*/
    background-attachment: fixed;
}

/*for styling the hero text box*/
.hero-text-box {
    /*will not use responsive grid because we want this to be an absolutely position element*/
    position: absolute;
    width: 1140px;
    /*50 percent away from the top*/
    top: 50%;
    /*50 percent away from the left*/
    left: 50%;
    /*translate half of the elements width up, and to the left*/
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*****************MAIN NAVIGATION********************/

/*designing the logo class for the header*/
.logo{
    height: 100px;
    width: auto;
    /*float property moves an element to a certain side of the view*/
    float: left;
    margin: 15px 0;
}


/*Main Navigation*/
/*design for the main navigation*/
.main-nav {
    float: right;
    /*get rid of the auto bullet points in the unordered list*/
    list-style: none;
    margin-top: 55px;
}

/*desgin: list elements in the main navigation*/
.main-nav li {
    /*for making each element side-by-side*/
    display: inline-block;
    /*spacing out the elements*/
    margin-left: 40px;
}

/*design: links inside the list elements of the unordered list*/
/*both the link, and the visited link will have the same design*/
.main-nav li a:link,
.main-nav li a:visited{
    /*padding vertical is 8px and padding horizontal is 0px*/
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    /*font size is 90% of the default one we defined in basic setup*/
    font-size: 90%;
    /*th border bottom is predefined for transition purposes*/
    border-bottom: 2px solid transparent;
    -webkit-transition: border 0.2s;
    transition: border 0.2s
}

/*design: links inside the list elements of the undordered list when they are being hovered over, or activated*/
.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/*****************STICKY NAVIGATION********************/
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 4px 2px #eaeaea;
    /*the z-index defines the how elements are stacked. The greater the number, the higher the element in the stack*/
    z-index: 9999;
}

/*design: links inside the list elements of the unordered list*/
/*both the link, and the visited link will have the same design*/
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    /*padding vertical is 8px and padding horizontal is 0px*/
    padding: 17px 0;
    color: #555;
}

/*designing the logo class for the header*/
.logo-black {
    display: none;
     height: 50px;
    width: auto;
    /*float property moves an element to a certain side of the view*/
    float: left;
    margin: 5px 0;
}

/*if the current navigation is the sticky navigation then display then black logo*/
.sticky .logo-black {
    display: block;
}

/*if the current navigation is the sticky navigation then hide the white logo*/
.sticky .logo {
    display: none;
}

/*Main Navigation*/
/*design for the main navigation*/
.sticky .main-nav {
    margin-top: 18px;
}

/*****************MOBILE NAVIGATION********************/

.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 170%;
    color: #fff;
}

/*-------------------------------------------------------*/
/*LONG COPY*/
/*-------------------------------------------------------*/

/*since we do not want the all long copies to be the same, a seperate property is made for the long copy specifically in section-features*/
.section-features .long-copy {
    margin-bottom: 30px;
}

/*-------------------------------------------------------*/
/*MEALS SHOWCASE*/
/*-------------------------------------------------------*/

.section-meals {
    padding: 0;
}

.meals-showcase {
    /*get rid of the default list bullet points*/
    list-style: none;
    /*100% of the browser width*/
    width: 100%;
}

/*format the li elements of the unordered list*/
.meals-showcase li {
    display: block;
    float: left;
    /*four li elements per list so they each get 25% width*/
    width: 25%;
}

/*format the figure elements that contain the images*/
.meal-photo {
    /*the photo container should have a width of 100% OF the li element that it is contained within*/
    width: 100%;
    margin: 0;
    /*hides the access part of the image which is caused by the transform property in .meal-photo img*/
    overflow: hidden;
    /*the background behind the image is set to black*/
    background-color: #000;
}

/*formatting the images that are contained within the figure element*/
.meal-photo img {
    /*the image is slightly transparent in order to let the black background of the phot seep in and make it darker*/
    opacity: 0.7;
    /*the image will have a width of 100% of the container it is within, which is the figure element*/
    width: 100%;
    height: auto;
    /*this will make the image 15% bigger than its normal size*/
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    /*transition to make the transformation, and opacity change more smooth*/
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

/*format the design of the images when the mouse is hovering above them*/
.meal-photo img:hover {
    /*change the opacity of the image back to 1 in order to stop the black background from seeping in and in turn make the image brighter*/
    opacity: 1;
    /*transform the image into its noraml size, plus 3% in order to get rid of a white bar that appears*/
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

/*-------------------------------------------------------*/
/*HOW IT WORKS SECTION*/
/*-------------------------------------------------------*/

.section-steps {
    background-color: #f4f4f4;
}

/*this pseudo selector will select the first instance of the step-box in the html: in our case that would be the one containing the phone image*/
.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

/*this pseudo selector will select the last instance of the step-box in the html: in our case that would be the one containing the steps*/
.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

/*resize the phone image to 40% of the original size*/
.app-screen {
    width: 50%;
}

/*formatting the containers in which the elements for each steps are contained*/
.works-step {
    /*put a 50px space between the steps*/
    margin-bottom: 50px;
}

/*last-of-type allows you to target the very last occurence of an element or class within its container*/
.works-step:last-of-type {
    /*adding a greater margin bottom under step 3*/
    margin-bottom: 80px;
}

/*formatting the divs located within the the works-step divs: these hold the step numbers*/
.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    /*inline block ensures that the element will not force a line break, and keep other elements beside it*/
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

/*designing the app buttons to seperate them from the default link styling we defined in the reusable components section*/
.btn-app:link,
.btn-app:visited {
    border: 0;
}

/*formatting the app download buttons*/
.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/*-------------------------------------------------------*/
/*CITIES SECTION*/
/*-------------------------------------------------------*/

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}

/*-------------------------------------------------------*/
/*TESTIMONIALS SECTION*/
/*-------------------------------------------------------*/

/*styling the background image: IF YOU WANT TO ADD A BACKGROUND IMAGE, DO IT THROUGH CSS FILE, NOT THE HTML FILE*/
.section-testimonials {
    /*to make the image darker, add a black linear gradient, and make it slighlt transparent: in this case it is 20% transparent*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(img/back-customers.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    /*this makes the images stay in the same place relative to the entire webpage*/
    background-attachment: fixed;
}

/*styling the quotes*/
blockquote {
    padding: 2%;
    /*the italic style is only available because we added it through the google font style we downloaded*/
    font-style: italic;
    line-height: 145%;
    /*since we made bloquote:before (the child of this parent component) an absolute position, we have to make this a relative position*/
    position: relative;
    margin-top: 40px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    /*forces a line break*/
    display: block;
}

/*we want quotation marks before the blockquote element, but we are doing it through css*/
blockquote:before {
    /*a quotation mark is a special character. A link to a website with all the special character codes for CSS are in the course e-book*/
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -3px;
}

cite img {
    height: 45px;
    border-radius: 50%;
    width: auto;
    margin-right: 10px;
    vertical-align: middle;
}

/*-------------------------------------------------------*/
/*PRICING PLANS SECTION*/
/*-------------------------------------------------------*/

.section-plans {
    background-color: #f4f4f4; 
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    /*the parent of the plan-box is the col box, so it will take up 90% of the col box*/
    width: 90%;
    margin-left: 5%;
    /*for adding a shadown behind the box: x-axis y-axis blur color*/
    -webkit-box-shadow: 0 2px 2px #e3e3e3;
    box-shadow: 0 2px 2px #e3e3e3;
}

/*formatting all the subsections within the plan-box (price, details, sign up button)*/
.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #efefef;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/*the button is in the last div box so we will need to select the last div in the plan-box*/
.plan-box div:last-child {
    text-align: center;
    border: 0;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 300;
    color: #e67e22;
}

.plan-price span {
    /*since this span is a chile of price-plan, the font-size is relative to the 300% defined in the plan-price property. So 100% = 300% from the price-plan property*/
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}


/*-------------------------------------------------------*/
/*CONTACT FORM SECTION*/
/*-------------------------------------------------------*/

.contact-form {
    width: 60%;
    /*This will center the contact for in the center of its parent element*/
    margin: 0 auto;
}

/*the square brackets allow for the specification of which type of each element is wanted*/
input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px;
}


/*-------------------------------------------------------*/
/*FOOTER SECTION*/
/*-------------------------------------------------------*/

footer {
    background-color: #333;
    padding: 40px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: none;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:hover,
.social-links li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook:hover{
    color: #3b5998;
}
.ion-social-twitter:hover{
    color: #55acee;
}
.ion-social-googleplus:hover{
    color: #dd4b39;
}
.ion-social-instagram:hover{
    color: #fb3958;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

footer p {
    color: #888;
    text-align: center;
    font-size: 90%;
    margin-top: 20px;
}

/*This formatting is a part of the CONTACT FORM SECTION, but must be placed at the end*/
/*this pseudo class removes the blue default outlines around form inputs*/
*:focus {outline: none};

